certifi==2022.12.7
charset-normalizer==3.1.0
hupper==1.12
idna==3.4
Mako==1.2.4
MarkupSafe==2.1.2
PasteDeploy==3.0.1
Pillow==9.5.0
plaster==1.1.2
plaster-pastedeploy==1.0.1
pyramid==2.0.1
pyramid-mako==1.1.0
requests==2.29.0
translationstring==1.4
urllib3==1.26.15
venusian==3.0.0
waitress==2.1.2
WebOb==1.8.7
zope.deprecation==5.0
zope.interface==6.0
